doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
        title Techflow
    body 
        header.header
            nav.header__nav.wrapper
                .menu__button
                        .line-1
                        .line-2
                h1.logo 
                    a(href='#') Techflow
                .nav__menu
                    ul
                        li
                            a(href='#about-us') About us
                        li
                            a(href='#services') Services
                        li
                            a(href='#how-it-works') How it works
                        li
                            a(href='#community') Community
                    button.button.nav__button Join for Free
            .header__content.wrapper
                .content__text
                    h3.subtitle Build the future with
                    h1.title Blockchain technology and Currency
                    button.button Get Whitepaper
                .content__image
                    img(src='assets/images/header-pic.svg', alt='illustration')
        section.achievments
            .achievments__content.wrapper
                .content__text
                    h4.subtitle Achievments
                    h2.title Full Decentralised and Currency Security
                .content__statics
                    .statics__block
                        h1 1M+
                        p Happy users
                    .statics__block
                        h1 200K+
                        p Community assets
                    .statics__block
                        h1 20K+
                        p Build community
            .achievments__image.wrapper
                img(src='assets/images/world-map.svg', alt='world map')
        section.partners#services
            .partners__content.wrapper
                .content__coinbase
                    a(href='https://www.coinbase.com/', target='_blank')
                        img(src="assets/images/partners/coinbase.svg", alt="coinbase logo")
                .content__blockchain
                    a(href='https://www.blockchain.com/', target='_blank') 
                        img(src="assets/images/partners/blockchain.svg", alt="blockchain logo")
                .content__binance
                    a(href='https://www.binance.com/en', target='_blank')
                        img(src="assets/images/partners/binance.svg", alt="binance logo")
                .content__bitmex
                    a(href='https://www.bitmex.com/', target='_blank')
                        img(src="assets/images/partners/bitmex.svg", alt="bitmex logo")
        section.about-us#about-us
            .about-us__frame
                .about-us__content.wrapper
                    .content__text
                        h2.title About us
                        p.
                            We are building the cryptoeconomy – a more fair, accessible, efficient, and transparent financial system enabled by crypto. 
                        p.
                            We started in 2012 with the radical idea that anyone, anywhere, should be able to easily and securely send and receive Bitcoin. 
                            Today, we offer a trusted and easy-to-use platform for accessing the broader cryptoeconomy.
                        button.button Learn More
            .content__image
                img(src='assets/images/features.png', alt='Our pluses')
        section.how-it-works#how-it-works
            h2.title.how-it-works__title How Do We Work Our System and Our Journey
            .how-it-works__block
                .block__item
                    .item__content
                        .content__main
                            .num
                                img(src='assets/images/how-it-works/01.svg', alt="01")
                            .txt
                                h3.title Consulting
                                p.text. 
                                    We are direct and succinct. We share information efficiently, improving collaboration and productivity. 
                                    We practice active listening.
                        .content__icon
                            img(src='assets/images/how-it-works/glyph.svg', alt='Glyph')
                .block__item    
                    .item__content
                        .content__main
                            .num
                                img(src='assets/images/how-it-works/02.svg', alt="02")
                            .txt
                                h3.title Research & Complaince
                                p.text. 
                                    We are builders, leveraging technology to improve the world, constantly shipping ideas vs. just discussing them.
                                     We have a high tolerance for failure, investing 10% of our resources in venture bets that are uncomfortably ambitious.
                        .content__icon
                            img(src='assets/images/how-it-works/chart.svg', alt='Charts')
                .block__item
                    .item__content
                        .content__main
                            .num
                                img(src='assets/images/how-it-works/03.svg', alt="03")
                            .txt
                                h3.title Technology
                                p.text. 
                                    The Techflow engine has unprecedented speed and reliability. We wrote it in kdb+, 
                                    a database and toolset used frequently by major banks in high-frequency trading applications.
                        .content__icon
                            img(src='assets/images/how-it-works/technology.svg', alt='Technology')
            button.button Let's See More
        section.reviews#community
            .reviews__content.wrapper
                h2.title Our community with User reviews
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__image
                                img(src='assets/images/people/user-1.png', alt='')
                            .swiper-slide__text
                                q What's the secret to Techflow's success? The answer is obvious: People. Company is proud to have one of the most talented, hardworking and passionate teams the world has to offer.
                                p - Dake M. Dowsy, Business Owner of Bellie
                        .swiper-slide
                            .swiper-slide__image
                                img(src='assets/images/people/user-2.png', alt='')
                            .swiper-slide__text
                                q Techflow is building the cryptoeconomy – a more fair, accessible, efficient, and transparent financial system enabled by crypto. The company started in 2012 with the radical idea that anyone, anywhere, should be able to easily and securely send and receive Bitcoin.
                                p - Sarah O. Chele, Crypto Analyst of Google
                        .swiper-slide
                            .swiper-slide__image
                                img(src='assets/images/people/user-3.png', alt='')
                            .swiper-slide__text
                                q The best platform for crypto in the world, I created this company when I was 4 y.o. you know I iron man is my son, I love eatin' pizza
                                p - OG Don Don, CEO of Techflow
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next
        footer.footer
            .footer__content.wrapper
                .footer__company
                    h2.title Techflow
                    p.text. 
                        We are building the cryptoeconomy – a more fair, accessible, 
                        efficient, and transparent financial system enabled by crypto.
                .footer__email
                    h2.title Newsletter
                    form
                        input(type='text', placeholder='Email address')
                        button.button(type='submit') Submit
                .footer__social
                    h3.title Social Media
                    .social__logos
                        a(href="https://www.facebook.com/" target='_blank') 
                            img(src='assets/images/logos/facebook.svg', alt='facebook')
                        a(href="https://www.twitter.com/" target='_blank') 
                            img(src='assets/images/logos/twitter.svg', alt='twitter')
                        a(href="https://www.instagram.com/" target='_blank') 
                            img(src='assets/images/logos/instagram.svg', alt='instagram')
                .footer__info
                    .info__about
                        h3.title About us
                        ul
                            li 
                                a(href="#") Whitepaper
                            li 
                                a(href="#") Blog
                            li 
                                a(href="#") Activity
                    .info__sup
                        h3.title Support
                        ul
                            li 
                                a(href="#") Help & Support
                            li 
                                a(href="#") Community
                            li 
                                a(href="https://github.com/unjusodal" target='_blank') Author profile
                            li 
                                a(href="#") Contact
                .footer__rights
                    a(href="#")  All rights reserved@2022
        script(src='sideMenu.min.js' type='text/javascript')
        script(src='https://unpkg.com/swiper@8/swiper-bundle.min.js')
        script(src='swiper.min.js' type='text/javascript')