doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        title Techflow
    body 
        header.header
            nav.header__nav.wrapper
                .menu__button
                        .line-1
                        .line-2
                h1.logo 
                    a(href='#') Techflow
                .nav__menu
                    ul
                        li
                            a(href='#') About us
                        li
                            a(href='#') Services
                        li
                            a(href='#') How it works
                        li
                            a(href='#') Community
                    button.button.nav__button Join for Free
            .header__content.wrapper
                .content__text
                    h3.subtitle Build the future with
                    h1.title Blockchain technology and Currency
                    button.button Get Whitepaper
                .content__image
                    img(src='assets/images/header-pic.svg', alt='illustration')
        section.achievments
            .achievments__content
                .content__text
                    h4.subtitle Achievments
                    h2.title Full Decentralised and Currency Security
                .content__statics
                    .statics__block
                        h1 1M+
                        p Happy users
                    .statics__block
                        h1 200K+
                        p Community assets
                    .statics__block
                        h1 20K+
                        p Build community
                .content__image
                    img(src='', alt='world map')
        section.partners
            .partners__content
                h1
                    a(href='#') coinbase
                h1
                    a(href='#') BLOCKCHAIN.COM
                h1
                    img(src='', alt='logo')
                    a(href='#') BINANCE
                h1
                    img(src='', alt='logo')
                    a(href='#') Bit<span>MEX</span>
        section.about-us
            .about-us__content
                h2.title About us
                p.text. 
                    A Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                button.button Learn More
        section.how-it-works
            h2.title How Do We Work Our System and Our Journey
            .about-us__block
                .block__content
                    h1.number 01
                    .content__text
                        h3.title Consulting
                        p.text. 
                            A Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    img(src='', alt='')
                .block__content
                    h1.number 02
                    .content__text
                        h3.title Research & Complaince
                        p.text. 
                            A Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    img(src='', alt='')
                .block__content
                    h1.number 03
                    .content__text
                        h3.title Technology
                        p.text. 
                            A Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    img(src='', alt='')
            button.button
        section.reviews
            .reviews__content
                h2.title Our community with User reviews
                .slider
        footer.footer
            .footer__about
                h1.logo Techflow
                p.text. 
                    A Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            .footer__social
                h3.title Social Media
            .footer__email
                h2.title Newsletter
                form
                    input(type='text')
                    button.button(type='submit') Submit
        script(src='index.min.js' type='module')