@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('assets/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('assets/fonts/Poppins-ExtraBold.ttf');
}